COBOL/MY_RECORD.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recFixLengthFieldsFmt="http://www.ibm.com/dfdl/RecordFixLengthFieldFormat">

    <xsd:import namespace="http://www.ibm.com/dfdl/RecordFixLengthFieldFormat" schemaLocation="IBMdefined/RecordFixLengthFieldFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format encoding="US-ASCII" escapeSchemeRef="" occursCountKind="fixed" ref="recFixLengthFieldsFmt:RecordFixLengthFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element dfdl:lengthKind="delimited" ibmSchExtn:docRoot="true" name="MY_RECORD">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="%CR;%LF;%WSP*;" dfdl:separatorSuppressionPolicy="anyEmpty">
				<xsd:element dfdl:lengthKind="delimited" dfdl:occursCountKind="implicit" maxOccurs="unbounded" name="body">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element dfdl:length="14" ibmDfdlExtn:sampleValue="body_valu1" name="CLAIM_NUMBER" type="xsd:string"/>
							<xsd:element dfdl:length="10" ibmDfdlExtn:sampleValue="body_valu2" name="ADMISSION_DATE" type="xsd:string"/>
							<xsd:element dfdl:length="10" ibmDfdlExtn:sampleValue="body_valu3" name="FROM_DATE" type="xsd:string"/>
                            <xsd:element dfdl:length="10" ibmDfdlExtn:sampleValue="body_value4" name="THRU_DATE" type="xsd:string"/>
                            <xsd:element dfdl:length="10" ibmDfdlExtn:sampleValue="body_value5" name="DISCHARGE-DATE" type="xsd:string"/>
                            <xsd:element dfdl:length="5" ibmDfdlExtn:sampleValue="body_value6" name="FULL_DAYS" type="xsd:string"/>
                            <xsd:element dfdl:length="4" ibmDfdlExtn:sampleValue="body_value7" name="COINSURANCE-DAYS" type="xsd:string"/>
                            <xsd:element dfdl:length="6" ibmDfdlExtn:sampleValue="body_value8" name="LIFETIME-RES-DAYS" type="xsd:string"/>
                            <xsd:element dfdl:length="10" ibmDfdlExtn:sampleValue="body_value9" name="INTERMEDIARY-NUM" type="xsd:string"/>
                            <xsd:element dfdl:length="13" ibmDfdlExtn:sampleValue="body_value10" name="PROVIDER" type="xsd:string"/>
                            <xsd:element dfdl:length="6" ibmDfdlExtn:sampleValue="body_value11" name="INPATIENT-DED" type="xsd:string"/>
                            <xsd:element dfdl:length="6" ibmDfdlExtn:sampleValue="body_value12" name="BLOOD-DED" type="xsd:string"/>
                            <xsd:element dfdl:length="9" ibmDfdlExtn:sampleValue="body_value13" name="TOTAL_CHARGES" type="xsd:string"/>
                            <xsd:element dfdl:length="2" ibmDfdlExtn:sampleValue="body_value14" name="PATIENT-STATUS" type="xsd:string"/>
                            <xsd:element dfdl:length="5" ibmDfdlExtn:sampleValue="body_value15" name="BLOOD-PINTS-FURNISHED" type="xsd:string"/>
                            <xsd:element dfdl:length="4" ibmDfdlExtn:sampleValue="body_value16" name="BLOOD-PINTS-REPLACED" type="xsd:string"/>
                            <xsd:element dfdl:length="3" ibmDfdlExtn:sampleValue="body_value17" name="SEQUENCE-COUNTER" type="xsd:string"/>
                            <xsd:element dfdl:length="9" ibmDfdlExtn:sampleValue="body_value18" name="TRANSACTION-IND" type="xsd:string"/>
                            <xsd:element dfdl:length="9" ibmDfdlExtn:sampleValue="body_value19" name="BILL-SOURCE" type="xsd:string"/>
                            <xsd:element dfdl:length="9" ibmDfdlExtn:sampleValue="body_value20" name="BENEFITS-EXHAUST-IND" type="xsd:string"/>
                            <xsd:element dfdl:length="9" ibmDfdlExtn:sampleValue="body_value21" name="BENEFITS-PAY-IND" type="xsd:string"/>
                            <xsd:element dfdl:length="1" ibmDfdlExtn:sampleValue="body_value22" name="AUTO-ADJUSTMENT-IND" type="xsd:string"/>
                            <xsd:element dfdl:length="24" ibmDfdlExtn:sampleValue="body_value23" name="INTERMEDIARY-CTRL-NUM" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>